# OS X (https://github.com/github/gitignore/blob/master/Global/OSX.gitignore)

.DS_Store?
Icon?

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes


# vim (https://github.com/github/gitignore/blob/master/Global/vim.gitignore)
.*.sw[a-z]
*.un~

